NEXTAUTH_SECRET=0d7364cc779d7bb277365756d3060186
NEXTAUTH_URL=http://localhost:3000
HOST=http://localhost:3000
GOOGLE_CLIENT_ID=988246971437-0tp7ftdjedf4jvb6io42a0s94rnjkil0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
MONGODB_URI=mongodb+srv://psi-tg-bot:UgWid5dNr7JNqdP9@bot.2fdb9.mongodb.net/bean-cafe?retryWrites=true&w=majority
PORT=3000
IMGBB_API_KEY=cf6aec4b93979e7d55436fbeac500d50
IMGBB_HOST=https://api.imgbb.com/1/upload
OUTLOOK_USERNAME=beancafe770@outlook.com
OUTLOOK_PASSWORD=Jakevelasco1434!!??
PAYPAL_SECRET=EKhCYse77M8_lBJqiPlVuj8Pu4d31UnoIpvMQ-Suu3X5aSfmBgs3-QCKrklklrTQcJ4S1NgEFUqp1yry
PAYPAL_CLIENT_ID=AUbhNlfV_XnzZC9qof8ZRsFHCvEO8jXO1POr7rJH_fJxrRdWcs847mgVZBqpBIc5HdUXL0VJB1t-ZQEp
PAYPAL_MODE=sandbox
PAYPAL_CURRENCY_CODE=PHP
TWILLIO_ACCOUNT_SID=ACed04e6f345fa7bf32e1e4688fccb443f
TWILLIO_ACCOUNT_AUTH_TOKEN=23efc1a7579b6becb31fc32fe7f876ad
TWILLIO_NUMBER=+12104174870